<>
<div
  style={{
    display: "flex",
    justifyContent: "center", // 가로 방향으로 중앙 정렬
    alignItems: "center", // 세로 방향으로 중앙 정렬
    height: "100vh", // 부모 컨테이너의 높이를 화면 높이와 동일하게 설정
    flexDirection: "column", // 자식 요소들을 세로로 배열
  }}
>
  <form
    style={{
      display: "flex",
      justifyContent: "center",
      alignItems: "center",
      gap: "10px",
      width: "60%",
    }}
    onSubmit={uploadFiles}
  >
    <Input
      id="fileInput"
      type="file"
      // multiple={true}
      onChange={handleFilesChange}
      accept=".csv"
    />
    <Button onClick={uploadFiles}>분석!!</Button>
  </form>
  <div>
    {files.map((file, index) => (
      <div
        key={index}
        style={{ display: "flex", alignItems: "center", gap: "10px" }}
      >
        {file.name}
        <button onClick={() => deleteFile(file.name)}>삭제</button>
      </div>
    ))}
  </div>
  <Button onClick={onReset}> 전체 삭제 </Button>
</div>
</>